language: java
sudo: false # faster builds

jdk:
  - openjdk8
  - openjdk11

cache:
  directories:
    - $HOME/.m2

install: true

script:
  - bash ./scripts/install_dependencies.sh
  - travis_wait 30 ./mvnw clean install -DskipTests=false

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash <(curl -s https://oapi.dingtalk.com/robot/send?access_token=4751a9833880fef766481c835b9f156deaaf77594d77b7b2c7a79bef3de924dc)

after_failure:
  - echo "build failed!"
