language: generic
os: linux
# Use Ubuntu 16.04
dist: xenial
install: true

cache:
  directories:
    - $HOME/.m2

before_script:
  - bash ./scripts/install_dependencies.sh

# Define some parallel jobs.
jobs:
  include:
    # Test for jdk8
    - os: linux
      jdk: openjdk8
      dist: xenial
      script:
        - travis_wait 30 ./mvnw clean install -DskipTests=false

    # Test for jdk11
    - os: linux
      jdk: openjdk11
      dist: xenial
      script:
        - travis_wait 30 ./mvnw clean install -DskipTests=false

    # Test for jdk14
    - os: linux
      jdk: openjdk14
      dist: xenial
      script:
        - travis_wait 30 ./mvnw clean install -DskipTests=false

    # This job is used to test `pip install dkv`.
    - os: osx
      language: python
      python:
        - 3.6
#      virtualenv:
#        system_site_packages: true
      script:
        - pushd deploy/python
        - sudo sh test_pip_install.sh
        - popd

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash <(curl -s https://oapi.dingtalk.com/robot/send?access_token=4751a9833880fef766481c835b9f156deaaf77594d77b7b2c7a79bef3de924dc)

after_failure:
  - echo "Failed to build!"
